{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

        <!-- SEO -->
        <meta name="yandex-verification" content="779e3bd415112a41" />
        <meta name="google-site-verification" content="KjJw3t5rduKWbu0rSgdNDTMwJ5wdd8col-F0abFHOdk" />

        <meta name="description" content="ЖК Тюмени. ЖК Кристалл - предлагаем купить студию, однокомнатную, двухкомнатную, трёхкомнатную квартиры в Тюмени недорого. Оформление квартиры «под ключ» без выезда в Тюмень. Работаем со всеми социальными программами.">
        <meta name="keywords" content="ЖК Кристалл Тюмень, Официальный сайт застройщика, Купить 1 комнатную квартиру Тюмень, ЖК Тюмень, квартира Тюмень купить в новостройках, купить 2 комнатную квартиру Тюмень, Купить квартиру Тюмень">

        <!-- Заголовок страницы -->
        <title>ЖК Кристалл Тюмень - купить квартиру в Тюмени в новостройках от застройщика ТТИС</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <!-- Other -->
        <script src="{% static 'js/js.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/counter.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link rel="stylesheet" href="{% static 'styles/animate.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="sk-spinner sk-spinner-pulse w-50">
                <p class="font-weight-bold text-center" style="font-size: 40px;">ЖК Кристалл</p>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 0" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <!-- Background -->
        <div style="height: 100vh">
            <video playsinline autoplay muted loop>
                <source src="{% static 'bg-kristall.mp4' %}" type="video/mp4">
		<source src="{% static 'bg-kristall.webm' %}" type="video/webm">
            </video>
            <div id="bg-text" class="">
                <h1 class="font-weight-bold">ЖК Кристалл</h1>
                <p class="font-weight-bold">Безупречный жилой комплекс в одном из самых развитых районов Тюмени <strong>от застройщика ТТИС</strong></p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="{% static 'images/bg-1.svg' %}" width="40" height="40" class="text-center" alt="">
                        <p>Десять минут до центра города</p>
                    </li>
                    <li class="list-inline-item">
                        <img src="{% static 'images/bg-2.svg' %}" width="40" height="40" class="text-center" alt="">
                        <p>Удобная транспортная развязка</p>
                    </li>
                    <li class="list-inline-item">
                        <img src="{% static 'images/bg-3.svg' %}" width="40" height="40" class="text-center" alt="">
                        <p>Улучшенная черновая отделка</p>
                    </li>
                    <li class="list-inline-item">
                        <img src="{% static 'images/bg-4.svg' %}" width="40" height="40" class="text-center" alt="">
                        <p>Развитая инфраструктура</p>
                    </li>
                </ul>
                <button class="btn btn-primary btn-lg mx-auto w-50" data-toggle="modal" data-target="#callback-modal">Узнать больше</button>
                <img src="{% static 'images/downarrow.svg' %}" width="70" height="70" class="mx-auto" alt="">
            </div>
        </div>

        <!-- Why Us -->
        <div class="row">
            <div class="container text-center mt-5">
                <h2>Купить квартиру в Тюмени</h2>
                <h3>Современное качество по доступной цене!</h3>
                <hr class="my-4">
                <p>ЖК Кристалл в Тюмени - уникальный комплекс, расположенный в одном из самых развитых районов города. Вам не придется заботиться о том, в какую школу направить ребенка или где провести досуг, потому что все необходимое в шаговой доступности! Необычное архитектурное решение заключается не только в использовании графических линий и строгого цветового решения внешнего облика, но и в уникальности исполнения дизайна каждого подъезда. Хотите купить квартиру в Тюмени - рассмотрите ЖК Кристалл.</p>
                <div class="card-deck">
                    <div class="card card-hover">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold mb-5">Ипотека</h5>
                            <div class="row">
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/bank-1.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Работаем с любыми банками</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/bank-2.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Ставка ниже, чем в самих банках</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/bank-3.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Плохая история - не помеха</p>
                                </div>
                                <div class="col-md-12 my-auto">
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#callback-modal">Узнать больше</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-hover">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold mb-5">Социальные программы</h5>
                            <div class="row">
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/social-1.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Материнский капитал</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/social-2.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Военная ипотека</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/social-3.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Программа "Молодая семья" и другие</p>
                                </div>
                                <div class="col-md-12 my-auto">
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#callback-modal">Узнать больше</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-hover">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold mb-5">Север</h5>
                            <div class="row">
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/north-1.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Сдаем квартиру "под ключ"</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/north-2.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Оформление без выезда в Тюмень</p>
                                </div>
                                <div class="col-md-4 mb-1 my-auto">
                                    <img src="{% static 'images/north-3.svg' %}" width="50" height="50" alt="">
                                </div>
                                <div class="col-md-8 mb-1 my-auto text-left">
                                    <p>Переселение из ЯНАО и ХМАО</p>
                                </div>
                                <div class="col-md-12 my-auto">
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#callback-modal">Узнать больше</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Callback - 1 -->
        <div style="background-color: transparent" class="row pt-5">
            <div class="container pt-5 pb-5">
                <div class="row text-center text-white"  style="background: transparent">
                    <div class="col-md-5 pt-5 pb-5 dark">
                        <img class="w-50" src="{% static 'images/callback-1.png' %}" alt="">
                        <p class="font-weight-bold mt-4 display-4">Елена</p>
                        <a class="navbar-brand text-white" href="tel:89829800418">
                            <img src="{% static 'images/phone.svg' %}" width="30" height="30" class="d-inline-block align-middle" alt="">
                            &nbsp;+7 (982) 980-04-18
                        </a>
                    </div>
                    <div class="col-md-2 my-3"></div>
                    <div class="col-md-5 pt-5 pb-5 dark">
                        <p class="font-weight-bold">Оставьте свою заявку и мы Вам перезвоним!</p>
                        <form id="callback-form-1" name="callback-form-1" method="post">
                            {% csrf_token %}
                            <div class="form-group mx-auto w-75">
                                <label for="name-1">Имя:</label>
                                <input name="name-1" type="text" class="form-control" id="name-1" placeholder="Ваше имя">
                            </div>
                            <div class="form-group mx-auto w-75">
                                <label for="phone-1">Телефон:</label>
                                <input name="phone-1" type="tel" class="form-control" id="phone-1" placeholder="Номер телефона в любом формате">
                            </div>
                        </form>
                        <button form="callback-form-1" type="submit" class="btn btn-primary btn-lg">Заказать звонок</button>
                    </div>
                </div>
            </div>
        </div>

         <!-- About -->
        <div class="row">
            <div class="container text-center mt-5">
                <h2>ЖК Кристалл в Тюмени</h2>
                <hr class="my-4">
                <p>Все квартиры ЖК Кристалл оснащены энергосберегающими технологиями в освещении, учете воды и отоплении. Большой выбор планировок позволяет определиться с наиболее удачным вариантом для себя и своей семьи. Есть возможность купить просторную однокомнатную квартиру в Тюмени, купить двухкомнатную квартиру, трехкомнатную, а также квартиру - студию. Чтобы Вы смогли совершить ремонт с минимальным вложением, в каждой квартире сделана улучшенная черновая отделка. А бонусом для хорошего настроения послужит индивидуальный дизайн подъезда.</p>
                <div class="row mt-5">
                    <div class="col-md-4 mb-3">
                        <h4>Однокомнатная квартира</h4>
                        <div class="hover-image" onclick="void(0)">
                            <img class="img-fluid" src="{% static 'images/flat1.png' %}">
                            <div class="hover-text">
                                <p></p>
                                <p>Площадь: 83 м<sup>2</sup></p>
                                <button class="btn btn-primary w-75 mx-auto" data-toggle="modal" data-target="#callback-modal">Бесплатное бронирование</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h4>Двухкомнатная квартира</h4>
                        <div class="hover-image" onclick="void(0)">
                            <img class="img-fluid" src="{% static 'images/flat2_1.png' %}">
                            <div class="hover-text">
                                <p></p>
                                <p>Площадь: 83 м<sup>2</sup></p>
                                <button class="btn btn-primary w-75 mx-auto" data-toggle="modal" data-target="#callback-modal">Бесплатное бронирование</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h4>Трехкомнатная квартира</h4>
                        <div class="hover-image" onclick="void(0)">
                            <img class="img-fluid" src="{% static 'images/flat3.png' %}">
                            <div class="hover-text">
                                <p></p>
                                <p>Площадь: 83 м<sup>2</sup></p>
                                <button class="btn btn-primary w-75 mx-auto" data-toggle="modal" data-target="#callback-modal">Бесплатное бронирование</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Callback - 2 -->
        <div style="background-color: transparent" class="row pt-5">
            <div class="container pt-5 pb-5">
                <div class="row text-center text-white"  style="background: transparent">
                    <div class="col-md-5 pt-5 pb-5 dark">
                        <p class="font-weight-bold">Оставьте свою заявку и мы Вам перезвоним!</p>
                        <form id="callback-form-2" name="callback-form-2" method="post">
                            {% csrf_token %}
                            <div class="form-group mx-auto w-75">
                                <label for="name-2">Имя:</label>
                                <input name="name-2" type="text" class="form-control" id="name-2" placeholder="Ваше имя">
                            </div>
                            <div class="form-group mx-auto w-75">
                                <label for="phone-2">Телефон:</label>
                                <input name="phone-2" type="tel" class="form-control" id="phone-2" placeholder="Номер телефона в любом формате">
                            </div>
                        </form>
                        <button form="callback-form-2" type="submit" class="btn btn-primary btn-lg">Заказать звонок</button>
                    </div>
                    <div class="col-md-2 my-3"></div>
                    <div class="col-md-5 pt-5 pb-5 dark">
                        <img class="w-50" src="{% static 'images/callback-2.png' %}" alt="">
                        <p class="font-weight-bold mt-4 display-4">Ирина</p>
                        <a class="navbar-brand text-white" href="tel:89829800418">
                            <img src="{% static 'images/phone.svg' %}" width="30" height="30" class="d-inline-block align-middle" alt="">
                            &nbsp;+7 (982) 980-04-18
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Gallery -->
        <div class="row">
            <div class="container text-center mt-5">
                <h2>Галерея ЖК Кристалл</h2>
                <hr class="my-4">
                <p>На территории ЖК Кристалл в Тюмени расположены благоустроенные спортивные и детские площадки, а также озелененные зоны отдыха для всей семьи и отдельные зоны для выгула собак. Для каждой квартиры предусмотрено не одно парковочное место, на 500 квартир - 800 мест! Каркас дома исполнен из монолита и облицован кирпичом.</p>
            </div>
            <div class="card-columns w-100">
                <div class="card">
                    <img class="card-img" src="{% static 'images/1.jpg' %}" alt="">
                </div>

                <div class="card">
                    <img class="card-img" src="{% static 'images/2.jpg' %}" alt="">
                </div>

                <div class="card">
                    <img class="card-img" src="{% static 'images/3.jpg' %}" alt="">
                </div>
                <div class="card">
                    <img class="card-img" src="{% static 'images/4.jpg' %}" alt="">
                </div>

                <div class="card">
                    <img class="card-img" src="{% static 'images/5.jpg' %}" alt="">
                </div>

                <div class="card">
                    <img class="card-img" src="{% static 'images/6.jpg' %}" alt="">
                </div>
            </div>
        </div>

        <!-- Map -->
        <div class="row">
            <div class="container text-center mt-5">
                <h3>Схема расположения ЖК Кристалл в Тюмени</h3>
                <hr class="my-4">
                <p>ЖК Кристалл в Тюмени - уникальный комплекс, расположенный в одном из самых развитых районов города. Вам не придется заботиться о том, в какую школу направить ребенка или где провести досуг, потому что все необходимое в шаговой доступности! Необычное архитектурное решение заключается не только в использовании графических линий и строгого цветового решения внешнего облика, но и в уникальности исполнения дизайна каждого подъезда. Хотите купить квартиру в Тюмени - рассмотрите ЖК Кристалл.</p>
            </div>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad0e14a9b966a51cbdb2d74156f0638dab51b91dbbe9f955341d0b777bea0b987&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

        <!-- Contacts -->
        <div class="row">
            <div class="container text-center mt-5">
                <h4>Контакты</h4>
                <hr class="my-4">
                <p>Обратитесь к нам за помощью, тогда Вам не придется тратить время, чтобы разобраться с документацией. Все необходимые документы на покупку квартиры уже готовы к сделке.</p>
                <div class="row mt-5 counter">
                    <div class="col-md-3 mb-5 counter-item">
                        <h3 class="counter-number" data-from="1" data-to="211" data-speed="3000"></h3>
                        <span class="counter-text">однокомнатных квартир осталось</span>
                    </div>
                    <div class="col-md-3 mb-5 counter-item">
                        <h3 class="counter-number" data-from="1" data-to="161" data-speed="3000"></h3>
                        <span class="counter-text">двухкомнатных квартир осталось</span>
                    </div>
                    <div class="col-md-3 mb-5 counter-item">
                        <h3 class="counter-number" data-from="1" data-to="47" data-speed="3000"></h3>
                        <span class="counter-text">трехкомнатных квартир осталось</span>
                    </div>
                    <div class="col-md-3 mb-5 counter-item">
                        <h3 class="counter-number" data-from="1" data-to="15" data-speed="3000"></h3>
                        <span class="counter-text">человек позвонили нам сегодня</span>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg mt-3 mb-5" data-toggle="modal" data-target="#callback-modal">Заказать просмотр</button>
            </div>
        </div>

        <!-- Footer -->
        <footer class="row">
            <hr class="w-100">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <p> &copy; 2017 | VZ COMPANY - Веб-студия</p>
                    </div>
                    <div class="col-md-6">
                        <a class="navbar-brand" href="tel:89829800418">
                            <img src="{% static 'images/phone.svg' %}" width="30" height="30" class="d-inline-block align-middle" alt="">
                            &nbsp;+7 (982) 980-04-18
                        </a>
                    </div>
                    <div class="col-md-12">
                        <p class="small">Сайт носит исключительно информационный характер, и ни при каких условиях не является публичной офертой, определяемой положениями пункта 2 статьи 437 Гражданского кодекса Российской Федерации.<br>* Отправляя заявку, вы соглашаетесь на обработку персональных данных в целях рассмотрения обращения (Федеральный закон от 27.07.2006 N 152-ФЗ "О персональных данных").</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="callback-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Форма обратной связи</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="callback-form-modal" name="callback-form-modal" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name-3">Имя:</label>
                                <input name="name-3" type="text" class="form-control" id="name-3" placeholder="Ваше имя">
                            </div>
                            <div class="form-group">
                                <label for="phone-3">Телефон:</label>
                                <input name="phone-3" type="tel" class="form-control" id="phone-3" placeholder="Номер телефона в любом формате">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button form="callback-form-modal" type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
